body{
    position:relative;
    font-size: 26px;
    margin: 2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #fffb;
}

h1{
    position:absolute;
    font-weight: 700;
    color:burlywood;
    text-decoration: underline 4px solid;
}

.loader {
    position:absolute;
    display:inline-block;
    max-width: 40%;
    color: #000;
}

.loader .htmx-indicator {
    opacity: 0;
    transition: opacity 300ms ease-in;
}