* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', monospace;
    font-size: 24px;
}

.header {
    min-height: 45vh;
    width: 100%;
    background-image: linear-gradient(rgba(72, 62, 27, 0.2), 1%, rgba(18, 9, 6, 1)),  url(media/coffee_banner.jpg) ;/*url for the background image/colour for the header */
    background-position: center;
    background-size: cover;
    position: relative;
}

body{
    background-image: linear-gradient(rgba(18, 9, 6, 1), 2%, rgba(217, 217, 217, 0.6)),
    url();
}
nav {
    display: flex;
    padding: 2% 3% 2% 1%; /* it's weird because of the png being off centre, don't worry about it until you have to */
    align-items: center;
}

nav img {
    flex:initial;
    width: 200px;
    border-radius: 15px;
    transition: .2s ease-in;
}

nav img:hover{
    filter:drop-shadow(0px 18px 5px rgb(16, 1, 1, 1));
    transform: translateY(-2px);
}

h1{
    font-size: 42px;
    color:#eae3dd;
}

nav .nav-title{
    flex:initial;
    font-size: 42px;
    color:#eae3dd;
    padding: 5px 15px;
    text-decoration: #654b35 underline dashed;
    text-underline-offset: 17.5px;
    text-decoration-thickness: 4.5px;
    transition: .3s ease;
}

nav .nav-title:hover{
    transform:translateY(-4px);
    text-shadow: rgba(82, 76, 69, 0.95) 2px 2px 15px;
}


.nav-links {
    margin-left: auto;  
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    transition: .25s ease;
}

.nav-links ul li a {
    color: #eae3dd;
    text-decoration: none;
    font-size: 22px;
}

.nav-links ul li:hover{ 
    transform: translateY(-4px);
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2.7px;
    background: #654b35;
    display: block;
    margin: auto;
    transition: 0.4s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.slogan #media-title{ /* keeps fake title for mobile hidden */
    display:none;
}

.slogan {
    position: relative;
    text-align: center;
}

.slogan h1{
    position: relative;
    display:inline-block;
    padding-top: 6px;
    text-align: center;
    white-space: nowrap;
    font-size:28px;
    color: #ded4cb;
}

.slogan #slogan::before {
    content: "";
    position:absolute;
    right:0;
    top:50%;
    transform:translateY(-3.4vh) scaleX(0.2);
    width: 100%;
    height: 3.5px;
    border-radius: 15px;
    background-color: #654b35;
    transition: .3s ease;
}

.slogan #slogan:hover::before {
    transform:scaleX(0.5) translateY(-3.2vh);
    background-color: #3d302b;
}


/*.curve {
    position:absolute;
    height: 225px;
    width:100%;
    bottom:0;
}

.curve::before{
    content:'';
    display:block;
    position:absolute;
    border-radius: 100% 50%;
    width:55%;
    height:100%;
    background-color: #301d0c;
    transform: translate(85%,60%);

}

.curve::after {
    content:'';
    display:block;
    position:absolute;
    border-radius: 100% 50%;
    width:55%;
    height:100%;
    background-color: #5e866a;
    transform: translate(-4%,- 40%);
}*/




/* Promotions section */
.promotions {
    margin: auto;
    text-align: center;
    padding-top: 10px;
    position:relative;
}

/* ###### EXPERIMENTAL CURVES ########*/

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index:2;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(105% + 1.3px);
    height: 121px;
}

.wave .shape-fill {
    fill: rgba(18, 9, 6);
}

h3 {
    font-size: 38px;
    font-weight: 600;
    color: #fff9f3;
    padding-top: 5px;
}

p {
    color:#e4d8ce;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 2px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
}

img {
    width: 4em;
    border-radius: 10px;
}

.prom-col {
    position: relative;
    display:flex;
    align-items: center;
    flex-basis: 33%;
    margin-bottom: 5%;
    padding: 25px 16px;
    box-sizing: border-box;
    transition: 0.3s ease;
    cursor:pointer;
    text-decoration: none;
    text-decoration-color: none;
    overflow:hidden;
}

.prom-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
}

.prom-col::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255);
    opacity:0;
    z-index: 1;
    transition: 0.3s ease;
}

.prom-col:hover::before {
    opacity:0.12;
}

.prom-col .content{
    flex-grow: 1;
    margin-right: 10px;
}

.prom-col img{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    background-size: cover;
}

.prom-col#prom-loyalty{
    border-radius: 50px 3px 50px 10px;
    background:#86705e;
}

.prom-col#prom-bday{
    border-radius: 3px 3px 45px 45px;
    background:#b7987e;
}

.prom-col#prom-ten{
    border-radius: 3px 50px 10px 50px;
    background:#86705e;
}

/* slider merch */

.container{
    padding:10px 32px 2rem;
    display:flex;
    justify-content: flex-start;
}

.slider-wrap{
    position:relative;
    max-width: 48rem;
    margin: 0 auto;
    margin-left: 0;
    padding-left: 10rem;
}

.slider{
    display: flex;
    width: 240px;
    height: 587px;
    border-radius: 5px;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 10px 15px 3px rgba(21, 30, 70, 0.9);
}

.slider img{
    flex: none;
    width:100%;
    min-height:587px;
    scroll-snap-align: start;
    object-fit:cover;
    margin:0;
}

.buttons{
    position: absolute;
    top: 50%;
    left:51%;
    width:48%;
    display: flex;
    justify-content: space-between;
}

.buttons button{
    width: 35px;
    height: 35px;
    border-radius: 40%;
    background-color: #7f5734;
    opacity:0.45;
    color: #ffffffdb;
    border:none;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 250ms ease; /* Added transition property */
}

.buttons button:hover{
    opacity:0.8;
}


.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom:1.25rem;
    left:75%;
    transform:translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width:15px;
    height:10px;
    border-radius: 20%;
    background-color: #654b35;
    opacity: 0.65;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity:1;
}

.merch-content {
    display:flex;
    flex-direction: column;
    flex-direction: flex-start;
    max-height: 50em;
    max-width:40vw;
    padding: 10vh 5vw;
    text-align: left;
    margin-left: 0;
}

.merch-content h2{
    padding: 4vh 0 1vh 0;
    font-size: 36px;
    font-weight: 600;
    color: #301d0c;
}

.merch-content .line{ /* line */
    width: 90%;
    height:5px;
    border:4vh 0;
    background-color: #4e3123;
    border-radius: 30px 2px;
}

.merch-content p{
    display:inline-block;
    color:#86705e;
    padding: 3vh 0;
    font-size: 24px;
}

@-webkit-keyframes scale-up-ver-bottom {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
  }
  @keyframes scale-up-ver-bottom {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
  }

.hero-btn{
    position:relative;
    width:20vw;
    margin-top: 1vh;
    padding: 10px 20px;
    text-align: center;
    background-color:#86705e;
    border-radius: 15px 4px;
    border-left: 3px solid rgba(48, 29, 12, 1);
    border-bottom: 3px solid rgba(48, 29, 12, 1);
    border-right: 3px solid rgba(48, 29, 12, 1);
    border-top: none;
    color:#1b0a02;
    overflow:hidden;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.hero-btn:hover{
    color:#fff;
    border-left: 4px solid rgba(48, 29, 12, 1);
    border-bottom: 4px solid rgba(48, 29, 12, 1);
    border-right: 4px solid rgba(48, 29, 12, 1);
    border-top: none;
    transform: translateY(-4px);
    box-shadow: 6px 8px 15px 0px #1b0a02;
}

.hero-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#4e3123;
    opacity:0; 
    z-index: 1;
    -webkit-animation: scale-up-ver-bottom 2s steps(8, start)  infinite;
    animation: scale-up-ver-bottom 2s steps(8, start)  infinite;    
}

.hero-btn:hover::before{
    opacity:.4;
    color:#fff;
    z-index: 1;
}

/* coffee icon */
/* ##### EXPERIEMENTAL SVG BORDER */

.spacer{
    flex:none;
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position:absolute center;
    background-size: cover;
    z-index: 1;
}

.layer1 {
    background-image: url('media/ft_waves.svg');
}

/* ## FOOTER ## */


.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Update grid-template-columns */
    grid-template-areas:
        ". ft-logo ft-links ft-contact" /* Update grid-template-areas */
        ". ft-logo ft-links ft-contact" /* Add missing dot */
        ". ft-logo ft-links ft-contact" /* Add missing dot */
        ". ft-icons ft-links ft-contact"; /* Add missing dot */
    background-image: linear-gradient(rgb(29, 16, 9), 80%,rgba(29, 16, 9, .85)),
    url("media/coffee_banner.jpg");
    color:#fffb;
}

.ft-icons{ /*icons*/
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ft-icons a{
    cursor:default;

}

/*footer image*/
.ft-icons img{ 
    width: 7rem;
    overflow:hidden;
    cursor:pointer;
    margin:0;
    padding-bottom:1rem;
    opacity:.8;
    filter:drop-shadow(0px 18px 5px rgb(16, 1, 1, 0.9));
    transition: .2s ease;
}

.ft-icons img:hover{
    opacity: 1;
    filter:drop-shadow(4px 24px 8px rgb(5, 0, 0));
    transform:translateY(-2px) scale(1.04);
}

/*footer icons*/
.ft-icons i{ 
    font-size: 2rem;
    padding: 2px 3px 0 4px;
    color: #dbcfc5;
    cursor:pointer;
    transition: .16s linear;
}

.ft-icons i:hover{
    transform:translateY(-4px);
    filter:drop-shadow(2px 18px 5px rgb(0, 0, 0));
    opacity:.7;
}

/*footer links*/
.ft-links{ 
    display: flex;
    align-items: center;
    padding:1rem 0;

}

.ft-line{
    padding:0;
    width: 3px;
    height: 6rem;
    align-items: center;
    background-color:#86705e;
    border-radius: 1px;
}

.ft-links a{ 
    color:#fffb;
    text-decoration: none;
    margin-left: 0.7rem;

}

.ft-links li{
    transition: .16s linear;
}

.ft-links li:hover{
    transform:translateY(-4px);
    filter:drop-shadow(1px 5px 4px #ad836fc2);
}
/*footer contact information*/
.ft-contact{ 
    padding:1rem;
    display: flex;
    flex-direction: row;
}


.ft-line{ /*line*/
    position:absolute;
    align-self: center;
    width: 3.5px;
    height: 8rem;
    background-color:#86705e;
    border-radius: 1px;
}

.content { /* content for the contact section */
    padding: 0 0 1rem 1.5rem;
}

.content * {
    margin: 0.5rem 0 0 0;
}

.line{ /* Underline CONTACT US */
    width: 8rem;
    height:5px;
    display: flex;
    align-items:center;
    background-color:#86705e;
    border-radius: 30px 2px;
}

 .content a{
    text-decoration: none;
}

 .content h3{
    font-size: 24px;
    font-weight: 550;
    text-decoration: none;
    filter:none;
    transition: .2s linear;
}

.content h3:hover{
    transform:translateY(-2px);
    filter:drop-shadow(1px 3px 2px #957263c2);
}

 .content p{
    display:flex;
    align-items:center;
    font-size:22px ;
    font-weight: 500;
    transition:.2s linear;
}

.content p:hover{
    transform:translateY(-2px);
    filter:drop-shadow(1px 3px 2px #957263c2);
}
 .content .ft-btn{ /*footer ft button*/
    position: absolute;
    margin-top: 0.5rem;
    padding: 3px 20px;
    color: #fffb;
    font-weight: 300;
    text-decoration:none;
    border:1px solid #fffb;
    border-radius: 15px 4px;
}

 .content .ft-btn:hover{
    background-color: #86705e;
    color: #301d0c;
    border: #86705e;
    transition: .3s ease;
}


/* uhhhhhh */
.cta {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(image_bank/ramen_girl.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1 {
    color: #fff;
    margin: 40px;
    padding: 0px;
}

nav .fa-solid {
    display: none;
}

/*## media ############### */
/*# phone #*/
@media(max-width: 650px) {
    .header{
        min-height: 20vh;
    }

    nav{
        padding: 1% 1%;
        margin-bottom:4vh;
    }

    .header nav img{
        width:25vw;
    }
    nav .nav-title{
        display:none;
    }

    .slogan{
        padding:5px;
        position: relative;
        align-items: flex-end;
    }

    .slogan h1{
        font-size:20px;
        font-weight: 300;
        padding-top:0;
    }

    .slogan h1#media-title{
        display:inline-block;
        position:absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -110%);
        padding:.6rem;
        font-size: 26px;
        font-weight: 600;
    }
    
    .slogan h1#slogan{
        padding: 0;
    }

    .slogan h1#slogan::before {
        content: "";
        position:absolute;
        transform:translateY(-.7rem) scaleX(0.2);
        transition: transform 0.3s ease-out;
    }
    
    .slogan h1#slogan:hover::before {
        transform:translateY(-.6rem) scaleX(0.5);
    }

    /* menu bar */
    .nav-links ul li {
        display: block;
    }

    nav .nav-links { /* kinda wanna add a vertical mask here to make it look cooler */
        position:fixed;
        background: #3c3733;
        height: 100vh;
        width: 185px;
        top: 0;
        right: -185px;
        text-align: left;
        z-index: 3;
        transition: 1s cubic-bezier(.3, 1.01, 0.75, -0.8);
    }

    .fa-solid#menu{
        display: block;
        margin:auto;
        margin-right: 5vw;
        text-align: right;
        color: #d6c2b0;
        font-size: 28;
        width: 40px;
        cursor: pointer;
    }

    .fa-solid#close{
        display: block;
        margin: 1.2rem;
        color: #d6c2b0;
        font-size: 28;
        width: 40px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 10px;
    }
    .footer h4{
        font-size: 20px;
    }
    .footer p{
        font-size: 14px;
    }

    /* -- prom cols -- */

    h3{
        font-size:22px;
        font-weight: 500;
        text-decoration: underline 3px dashed #d0a172;
    }

    .prom-col p{
        display:none;
    }

    .row{
        flex-direction: column;
        margin-top: 2%;
    }

    img {
        width: 3em;
        border-radius: 18px;
        margin:0.4em;
    }

    .prom-col{
        margin-bottom: 2%;
        padding: 1.4vh 4vw 1.8vh;
    }

    .prom-col:hover{
        transform: translateY(-4px);
    }

    .prom-col#prom-bday{
        border-radius: 50px 3px 50px 10px;
        background:#77685c;
    }

    .prom-col#prom-ten{
        border-radius: 50px 3px 50px 10px;
        background:#86705e;
    }

    /* -- merch -- */

    .container{
        display:flex;
        flex-direction: column-reverse;
        align-items:center;
        justify-content: center;
    }

    .slider-wrap{
        position:flex;
        margin: 0; /* I added this, there is no margin anywhere else, it should not require the margin to be 0 */
        padding-left: 0;
    }
    .slider{
        margin-bottom: 1rem;
    }
    /* image */
    .slider img{
        flex:none;
        width:100%;
        min-height:587px;
        scroll-snap-align: start;
        object-fit:cover;
        margin-left:0;
    }

    /* buttons */
    .buttons{
        top: 50%;
        left:2%;
        width:96%;
    }

    .buttons button{
        opacity:0.6;    
    }

    .slider-nav{
        display: flex;
        column-gap: 1.2rem;
        position: absolute;
        bottom:1.85rem;
        left:50%;
        transform:translateX(-50%);
        z-index: 1;
    }

    /* merch content */

    .merch-content {
        display: flex;
        flex-direction: column;
        align-items: center; /* Add this line */
        justify-content: center; /* Add this line */
        max-width: 95vw;
        padding: 1vh 3vw;
        text-align:center;
    }

    .merch-content h2{
        padding: 1vh;
        font-size: 26px;
    }

    .line{ /* line */
        max-width: 75%;
    }

    .merch-content p{
        padding: 2vh 0;
        font-size: 18px;
        line-height: 1em;
    }

    .hero-btn{
        width:40vw;
        margin: 1.2vh 1.2vw 2vh;
        font-size: 16px;
    }

    /* ### Footer ### */

    .footer {
        display: grid;
        grid: repeat(2, 2.4rem) / auto-flow 2.4rem; /* Update grid-template-columns */
        grid-template-columns: 1fr 2fr;
        background-color: #301d0c;
        color:#fffb;
        padding:1.4em 0.5em 1em 0.5em;
    }

    .footer h3{
        padding:0;
        font-size: 24px;

    }

    .ft-icons, .ft-links{
        padding: 0 0.6rem;
    }

    .ft-icons{
        padding: 0rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .ft-icons i{ /*footer icons*/
        font-size: 1.2rem;
        padding: 1px 0;
        cursor:pointer;
    }
    

    .ft-icons img{
        display:none;
    }

    .ft-links .ft-line{
        display:none;
    }

    .ft-links a{
        margin:0;
        padding: 0 1em;
        font-size: 22px;
    }

    .ft-links ul li {
        list-style: none;
        text-align: left;
        justify-content:left;
       
    }

    .ft-contact .ft-line{
    padding:0;
    width: 3px;
    height: 6rem;
    align-items: center;
    background-color:#86705e;
    border-radius: 1px;
    }

    .ft-contact{
        grid-row-start: span 2;
        padding:0;
    }    

    .content { /* content for the contact section */
        padding: 0 1em;
    }

    .content * {
        margin: 0;
    }


}

/*# Tablet/Landscape #*/
@media(min-width:650px) and (max-width:1000px){
/* # MAKE SURE PHONE IS FINISHED FULLY #*/
}