* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', monospace;
}

.header {
    min-height: 45vh;
    width: 100%;
    background-image: linear-gradient(rgba(17, 36, 30, 0.85), rgba(17, 36, 30, 0.85)),  url() ;/*url for the background image/colour for the header */
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 200px;
    border-radius: 15px;
}

nav .nav-title{
    font-size: 64px;
    color: #ded4cb;
    padding: 5px 15px;
    text-decoration: #654b35 dotted underline;
    text-underline-offset: 17.5px;
    text-decoration-thickness: 6px;
}


.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #eae3dd;
    text-decoration: none;
    font-size: 22px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2.7px;
    background: #654b35;
    display: block;
    margin: auto;
    transition: 0.4s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.slogan {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-70%, 50%);
    text-align: center;
}

.slogan h1{
    width: 60%;
    padding-top: 6px;
    display:inline-block;
    font-size: 36px;
    color: #eae3dd;
    position: relative;
    text-align: center;
    white-space: nowrap;
}

.slogan h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 60px;
    width: 100%;
    height: 3.5px;
    border-radius: 15px;
    background-color: #654b35;
    transform: scaleX(0.5);
    transition: transform 0.3s ease-in-out;
}

.slogan h1:hover::before {
    transform: scaleX(4.5);
}

/* Promotions section */
.promotions {
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

h3 {
    font-size: 38px;
    font-weight: 600;
    color: #fff9f3;
    padding-top: 5px;
}

p {
    color:#e4d8ce;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 2px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
}

img {
    width:80px;
    border-radius: 10px;
}

.prom-col {
    position: relative;
    display:flex;
    align-items: center;
    flex-basis: 33%;
    margin-bottom: 5%;
    padding: 25px 16px;
    box-sizing: border-box;
    transition: 0.3s;
    cursor:pointer;
    text-decoration: none;
    text-decoration-color: none;
}

.prom-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);
}

.prom-col:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    z-index: 1;
}

.prom-col .content{
    flex-grow: 1;
    margin-right: 10px;
}

.prom-col img{
    margin-left: 10px;
}

.prom-col#prom-loyalty{
    border-radius: 50px 3px 50px 10px;
    background:#86705e;
}

.prom-col#prom-bday{
    border-radius: 3px 3px 45px 45px;
    background:#b7987e;
}

.prom-col#prom-ten{
    border-radius: 3px 50px 10px 50px;
    background:#86705e;
}
