* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', monospace;
    font-size: 24px;
}

body{
    background-color:#d9d9d9;
}

.header {
    min-height: 45vh;
    width: 100%;
    position: relative;
    background-image: linear-gradient(
        rgba(72, 62, 27, 0.2),
        2%, rgba(18, 9, 6, 1)),
        url(media/coffee_banner.jpg);/*url for the background image/colour for the header */
    background-position: center;
    background-size: cover;
    border-bottom: #120906 10px solid;
}

nav {
    display: flex;
    padding: 2% 3% 2% 1%; /* it's weird because of the png being off centre, don't worry about it until you have to */
    align-items: center;
}

nav img {
    flex:initial;
    width: 200px;
    border-radius: 15px;
    transition:
        drop-shadow .2s ease-in,
        transform .8s ease-out;
}

nav img:hover{
    filter:drop-shadow(0px 18px 5px rgb(16, 1, 1, 1));
    transform: translateY(-8px);
}

.animate__animated.animate__wobble{
    animation: wobble .8s;
}

.animate__animated.animate__wobble:hover{
    animation:normal;
}

h1{
    font-size: 42px;
    color:#eae3dd;
}

nav .nav-title{
    flex:initial;
    color:#eae3dd;
    padding: 5px 15px;
    text-decoration: #654b35 underline dashed;
    text-underline-offset: 17.5px;
    text-decoration-thickness: 4.5px;
    transition: .3s ease;
}

nav .nav-title:hover{
    text-shadow: rgba(82, 76, 69, 0.95) 2px 2px 15px;
}


.nav-links {
    margin-left: auto;  
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    transition: .25s ease;
}

.nav-links ul li a {
    color: #eae3dd;
    text-decoration: none;
    font-size: 22px;
}

.nav-links ul li:hover{ 
    transform: translateY(-4px);
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2.7px;
    background: #654b35;
    display: block;
    margin: auto;
    transition: 0.4s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.slogan #media-title{ /* keeps fake title for mobile hidden */
    display:none;
}

.slogan {
    position: relative;
    text-align: center;
}

.slogan h1{
    position: relative;
    display:inline-block;
    padding-top: 6px;
    text-align: center;
    white-space: nowrap;
    font-size:28px;
    color: #ded4cb;
}

.slogan #slogan::before {
    content: "";
    position:absolute;
    right:0;
    top:50%;
    transform:translateY(-3.4vh) scaleX(0.8);
    width: 100%;
    height: 3.5px;
    border-radius: 15px;
    background-color: #654b35;
    transition: .3s ease;
}

.slogan #slogan:hover::before {
    transform:scaleX(2) translateY(-3.2vh);
    background-color: #3d302b;
}


/*.curve {
    position:absolute;
    height: 225px;
    width:100%;
    bottom:0;
}

.curve::before{
    content:'';
    display:block;
    position:absolute;
    border-radius: 100% 50%;
    width:55%;
    height:100%;
    background-color: #301d0c;
    transform: translate(85%,60%);

}

.curve::after {
    content:'';
    display:block;
    position:absolute;
    border-radius: 100% 50%;
    width:55%;
    height:100%;
    background-color: #5e866a;
    transform: translate(-4%,- 40%);
}*/




/* Promotions section */
.promotions {
    margin: auto;
    text-align: center;
    padding-top: 10px;
    position:relative;
}

/* ###### EXPERIMENTAL CURVES ########*/

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index:2;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(105% + 1.3px);
    height: 121px;
}

.wave .shape-fill {
    fill: rgba(18, 9, 6);
}

h3 {
    font-size: 38px;
    font-weight: 600;
    color: #fff9f3;
    padding-top: 5px;
}

p {
    color:#e4d8ce;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 2px;
}

.row {
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
}

img {
    width: 4em;
    border-radius: 10px;
}

.promo-col {
    position: relative;
    display:flex;
    align-items: center;
    flex-basis: 33%;
    margin-bottom: 5%;
    padding: 25px 16px;
    box-sizing: border-box;
    transition: 0.3s ease;
    cursor:pointer;
    text-decoration: none;
    text-decoration-color: none;
    overflow:hidden;
}

.promo-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
}

.promo-col::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255);
    opacity:0;
    z-index: 1;
    transition: 0.3s ease;
}

.promo-col:hover::before {
    opacity:0.12;
}

.promo-col .content{
    flex-grow: 1;
    margin-right: 10px;
}

.promo-col img{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    background-size: cover;
}

.promo-col#promo-loyalty{
    border-radius: 50px 3px 50px 10px;
    background:#86705e;
}

.promo-col#promo-bday{
    border-radius: 3px 3px 45px 45px;
    background:#b7987e;
}

.promo-col#promo-ten{
    border-radius: 3px 50px 10px 50px;
    background:#86705e;
}

/* slider merch */

.container{
    display:flex;
    justify-items: center;
    align-items: center;
    margin: 2vh 0;
}

.slider-wrap{
    position:relative;
    max-width: 48rem;
    margin: 0 auto;
    border:#9b6b58 40px ridge;
    border-radius:19% 27% 28% 29% / 9% 17% 8% 9%;
}

.slider{
    display: flex;
    width: 240px;
    height: 587px;
    border-radius: 5px;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slider img{
    flex: none;
    width:100%;
    min-height:587px;
    scroll-snap-align: start;
    object-fit:cover;
    margin:0;
}

.buttons{
    position: absolute;
    top: 50%;
    left:2%;
    width:96%;
    display: flex;
    justify-content: space-between;
}

.buttons button{
    width: 35px;
    height: 35px;
    border-radius: 40%;
    background-color: #7f5734;
    opacity:0.45;
    color: #ffffffdb;
    border:none;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 250ms ease; /* Added transition property */
}
.buttons button:hover{
    opacity:0.8;
}


.slider-nav{
    display: flex;
    column-gap: 1rem;
    position:absolute;
    top: 93%;
    left: 18%;
    z-index: 1;
}

.slider-nav a{
    width:20px;
    height:14px;
    border-radius: 20%;
    background-color: #654b35;
    opacity: 0.65;
    transition:
        height ease 250ms, 
        width ease 250ms,
        opacity ease 250ms,
        border-radius ease 250ms;

}

.slider-nav a:hover{
    height: 18px;
    width:18px;
    opacity:1;
    border-radius:100%;
}
.merch-content{
    background-image: url(media/container-background.svg); /*! looks good until 1100px width*/
    background-position: center;
    background-repeat: no-repeat;
    height: 30em;
    width: 40vw;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    border: 30px;
    padding: 5vh 6vw 5vh 7vw;
    justify-content: center;
    text-align: left;
    z-index: 2;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;
}

.merch-content h2, .line, p, .hero-btn{
    margin: 0 1rem 0 1vw;
}

.merch-content h2{
    padding: 0vh 0 1vh 0;
    margin-top:4vh;
    font-size: 36px;
    font-weight: 550;
    color: #c7ae9c;
}

.merch-content .line{ /* line */
    width: 90%;
    height:5px;
    border:4vh 0;
    background-color: #29150d;
    border-radius: 30px 2px;
}

.merch-content p{
    display:inline-block;
    color:#a99280;
    padding: 3vh 0;
    font-size: 24px;
}

@-webkit-keyframes scale-up-ver-bottom {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
  }
  @keyframes scale-up-ver-bottom {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
  }

.hero-btn{
    position:relative;
    width:20vw;
    height: 4vh;
    margin-top: 1vh;
    padding: 10px 20px;
    text-align: center;
    background-color:#86705e;
    border-radius: 15px 4px;
    border:
        none,
        3px solid rgba(48, 29, 12, 1),
        3px solid rgba(48, 29, 12, 1),
        3px solid rgba(48, 29, 12, 1);
    margin-bottom: 5vh;
    color:#1b0a02;
    overflow:hidden;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.hero-btn:hover{
    color:#fff;
    border:
        none,
        4px solid rgba(48, 29, 12, 1),
        4px solid rgba(48, 29, 12, 1),
        4px solid rgba(48, 29, 12, 1);
    transform: translateY(-4px);
    box-shadow: 6px 8px 15px 0px #1b0a02;
}

.hero-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#4e3123;
    opacity:0;
    z-index: 1;
    -webkit-animation: scale-up-ver-bottom 2s linear  infinite;
    animation: scale-up-ver-bottom 2s linear  infinite;
}

.hero-btn:hover::before{
    opacity:.4;
    color:#fff;
    z-index: 1;
}

/* coffee icon */
/* ##### EXPERIEMENTAL SVG BORDER */

.spacer{
    flex:none;
    aspect-ratio: 960/180;
    width: 100%;
    background-repeat: no-repeat;
    background-position:absolute center;
    background-size: cover;
    z-index: 1;
}

.layer1 {
    background-image: url('media/ft_waves.svg');
}

/* ## FOOTER ## */


.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Update grid-template-columns */
    grid-template-areas:
        ". ft-logo ft-links ft-contact" /* Update grid-template-areas */
        ". ft-logo ft-links ft-contact" /* Add missing dot */
        ". ft-logo ft-links ft-contact" /* Add missing dot */
        ". ft-icons ft-links ft-contact"; /* Add missing dot */
    background-image: linear-gradient(rgb(29, 16, 9), 80%,rgba(29, 16, 9, .85)),
    url("media/coffee_banner.jpg");
    color:#fffb;
}

.ft-icons{ /*icons*/
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ft-icons a{
    cursor:default;

}

/*footer image*/
.ft-icons img{ 
    width: 7rem;
    overflow:hidden;
    cursor:pointer;
    margin:0;
    padding-bottom:1rem;
    opacity:.8;
    filter:drop-shadow(0px 18px 5px rgb(16, 1, 1, 0.9));
    transition: .2s ease;
}

.ft-icons img:hover{
    opacity: 1;
    filter:drop-shadow(4px 24px 8px rgb(5, 0, 0));
    transform:translateY(-2px) scale(1.04);
}

/*footer icons*/
.ft-icons i{ 
    font-size: 2rem;
    padding: 2px 3px 0 4px;
    color: #dbcfc5;
    cursor:pointer;
    transition: .16s linear;
}

.ft-icons i:hover{
    transform:translateY(-4px);
    filter:drop-shadow(2px 18px 5px rgb(0, 0, 0));
    opacity:.7;
}

/*footer links*/
.ft-links{ 
    display: flex;
    align-items: center;
    padding:1rem 0;

}

.ft-line{
    padding:0;
    width: 3px;
    height: 6rem;
    align-items: center;
    background-color:#86705e;
    border-radius: 1px;
}

.ft-links a{ 
    color:#fffb;
    text-decoration: none;
    margin-left: 0.7rem;

}

.ft-links li{
    transition: .16s linear;
}

.ft-links li:hover{
    transform:translateY(-4px);
    filter:drop-shadow(1px 5px 4px #ad836fc2);
}
/*footer contact information*/
.ft-contact{ 
    padding:1rem;
    display: flex;
    flex-direction: row;
}


.ft-line{ /*line*/
    position:absolute;
    align-self: center;
    width: 3.5px;
    height: 8rem;
    background-color:#86705e;
    border-radius: 1px;
}

.content { /* content for the contact section */
    padding: 0 0 1rem 1.5rem;
}

.content * {
    margin: 0.5rem 0 0 0;
}

.line{ /* Underline CONTACT US */
    width: 8rem;
    height:5px;
    display: flex;
    align-items:center;
    background-color:#86705e;
    border-radius: 30px 2px;
}

 .content a{
    text-decoration: none;
}

 .content h3{
    font-size: 24px;
    font-weight: 550;
    text-decoration: none;
    filter:none;
    transition: .2s linear;
}

.content h3:hover{
    transform:translateY(-2px);
    filter:drop-shadow(1px 3px 2px #957263c2);
}

 .content p{
    display:flex;
    align-items:center;
    font-size:22px ;
    font-weight: 500;
    transition:.2s linear;
}

.content p:hover{
    transform:translateY(-2px);
    filter:drop-shadow(1px 3px 2px #957263c2);
}
 .content .ft-btn{ /*footer ft button*/
    position: absolute;
    margin-top: 0.5rem;
    padding: 3px 20px;
    color: #fffb;
    font-weight: 300;
    text-decoration:none;
    border:1px solid #fffb;
    border-radius: 15px 4px;
}

 .content .ft-btn:hover{
    background-color: #86705e;
    color: #301d0c;
    border: #86705e;
    transition: .3s ease;
}


/* uhhhhhh */
.cta {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(image_bank/ramen_girl.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1 {
    color: #fff;
    margin: 40px;
    padding: 0px;
}

nav .fa-solid {
    display: none;
}

/*!## media ############### */
/** phone/mobile ---------------------------------------------------------------------------------------------------------*/
@media(max-width: 800px) {
    .header{
        min-height: 20vh;
    }

    nav{
        padding: 1% 1%;
        margin-bottom:4vh;
    }

    .header nav img{
        width:25vw;
    }
    nav .nav-title{
        display:none;
    }

    .slogan{
        padding:5px;
        position: relative;
        align-items: flex-end;
    }

    .slogan h1{
        font-size:20px;
        font-weight: 300;
        padding-top:0;
    }

    .slogan h1#media-title{
        display:inline-block;
        position:absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -110%);
        padding:.6rem;
        font-size: 26px;
        font-weight: 600;
    }
    
    .slogan h1#slogan{
        padding: 0;
    }

    .slogan h1#slogan::before {
        content: "";
        position:absolute;
        transform:translateY(-.7rem) scaleX(0.2);
        transition: transform 0.3s ease-out;
    }
    
    .slogan h1#slogan:hover::before {
        transform:translateY(-.6rem) scaleX(0.5);
    }

    /* menu bar */
    .nav-links ul li {
        display: block;
    }

    nav .nav-links { /* kinda wanna add a vertical mask here to make it look cooler */
        position:fixed;
        background: #3c3733;
        height: 100vh;
        width: 185px;
        top: 0;
        right: -185px;
        text-align: left;
        z-index: 3;
        transition: 1s cubic-bezier(.3, 1.01, 0.75, -0.8);
    }

    .fa-solid#menu{
        display: block;
        margin:auto;
        margin-right: 8vw;
        text-align: right;
        color: #d6c2b0;
        font-size: 28px;
        width: 40px;
        cursor: pointer;
    }

    .fa-solid#close{
        display: block;
        margin: 1.2rem;
        color: #d6c2b0;
        font-size: 28px;
        width: 40px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 10px;
    }

    /** Wave */

    .wave {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        overflow: hidden;
        line-height: 0;
        z-index:2;
    }

    .wave svg {
        position: relative;
        display: block;
        width: 100%;
        height: 121px;
    }


    /* -- promo cols -- */

    h3{
        font-size:22px;
        font-weight: 500;
        text-decoration: underline 3px dashed #d0a172;
    }

    .promo-col p{
        display:none;
    }

    .row{
        flex-direction: column;
        margin-top: 20%;
        margin-bottom: 8%;
    }

    img {
        width: 3em;
        border-radius: 18px;
        margin:0.4em;
    }

    .promo-col{
        margin-bottom: 1%;
        padding: 1.4vh 4vw 1.8vh;
    }

    .promo-col:hover{
        transform: translateY(-4px);
    }

    .promo-col#promo-bday{
        border-radius: 50px 3px 50px 10px;
        background:#77685c;
    }

    .promo-col#promo-ten{
        border-radius: 50px 3px 50px 10px;
        background:#86705e;
    }

    /* -- merch -- */

    .container{
        display:flex;
        flex-direction: column-reverse;
        align-items:center;
        justify-content: center;
    }

    .slider-wrap{
        position:flex;
        margin: 0; /* I added this, there is no margin anywhere else, it should not require the margin to be 0 */
        padding-left: 0;
    }

    /* image */
    .slider img{
        flex:none;
        width:100%;
        min-height:587px;
        scroll-snap-align: start;
        object-fit:cover;
        margin:0;
    }

    /* buttons */
    .buttons{
        top: 50%;
        left:2%;
        width:96%;
    }

    .buttons button{
        opacity:0.6;    
    }

    .slider-nav{
        display: flex;
        column-gap: 1.2rem;
        position: absolute;
        bottom:1.85rem;
        left:50%;
        transform:translateX(-50%);
        z-index: 1;
    }

    /* merch content */

    .merch-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:auto;
        max-width: 95vw;
        height:100%;
        padding: 1vh 3vw;
        margin-bottom: 1rem;
        box-sizing: border-box;
        border-radius: 25px 50px 50px;
        background:#4f3b32;
        text-align:center;
    }


    .merch-content h2, .line, p, .hero-btn{
        margin: 0;
    }

    .merch-content h2{
        padding: 1vh;
        font-size: 26px;
    }

    .line{ /* line */
        max-width: 75%;
    }

    .merch-content p{
        padding: 2vh 0;
        font-size: 18px;
        line-height: 1em;
    }

    .hero-btn{
        width:40vw;
        margin: 1.2vh 1.2vw 2vh;
        font-size: 16px;
    }

    /* ### Footer ### */

    .footer {
        display: grid;
        grid: repeat(2, 2.4rem) / auto-flow 2rem; /* Update grid-template-columns */
        grid-template-columns: 1fr 1fr;
        max-width: 100vw;
        padding:.8em 0.5em 1em 0.5em;
        justify-content: center;
        background-color: #301d0c;
        color:#fffb;
        
    }

    .footer h3{
        padding:0;
        font-size: 20px;

    }

    .footer p{
        font-size: 14px;
    }

    .ft-icons, .ft-links{
        padding: 0 0.6rem;
    }

    .ft-icons{
        padding: 0rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

        
    .icon-wrap{   /* only necessary on this version, the rest are ok */
        margin-left:.4em;
    }

    .ft-icons i{ /*footer icons*/
        font-size: 1.2rem;
        padding: 1px 0;
        cursor:pointer;
    }

    .ft-icons img{
        display:none;
    }

    .ft-links .ft-line{
        display:none;
    }

    .ft-links a{
        margin:0;
        padding: 0 1em;
        font-size: 20px;
    }

    .ft-links ul li {
        list-style: none;
        text-align: left;
        justify-content:left;
       
    }

    .ft-contact .ft-line{
        padding:0;
        width: 3px;
        height: 6rem;
        align-items: center;
        background-color:#86705e;
        border-radius: 1px;
    }

    .ft-contact{
        grid-row-start: span 2;
        padding:0;
    }    

    .content { /* content for the contact section */
        padding: 0 1em;
    }

    .content * {
        margin: 0;
    }


    /** pages section */
        /*  changes which will impact the other pages, not the
            index. For this version only */

}

/** Tablet/Landscape ------------------------------------------------------------------------------------------------------------------------------*/
@media(min-width:801px) and (max-width:1100px){
/* # MAKE SURE PHONE IS FINISHED FULLY #*/
    .header{
        min-height: 20vh;
    }

    nav{
        padding: 1% 1%;
        margin-bottom:4vh;
    }

    .header nav img{
        width:25vw;
    }
    nav .nav-title{
        display:none;
    }

    .slogan{
        padding:5px;
        position: relative;
        align-items: flex-end;
    }

    .slogan h1{
        font-size:20px;
        font-weight: 300;
        padding-top:0;
    }

    .slogan h1#media-title{
        display:inline-block;
        position:absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -110%);
        padding:.6rem;
        font-size: 38px;
        font-weight: 600;
    }
    
    .slogan h1#slogan{
        padding: 0;
    }

    .slogan h1#slogan::before {
        content: "";
        position:absolute;
        transform:translateY(-.7rem) scaleX(0.2);
        transition: transform 0.3s ease-out;
    }
    
    .slogan h1#slogan:hover::before {
        transform:translateY(-.6rem) scaleX(0.5);
    }

    /* menu bar */
    .nav-links ul li {
        display: block;
    }

    nav .nav-links { /* kinda wanna add a vertical mask here to make it look cooler */
        position:fixed;
        background: #3c3733;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 3;
        transition: 1s cubic-bezier(.3, 1.01, 0.75, -0.8);
    }

    .fa-solid#menu{
        display: block;
        margin:auto;
        margin-right: 8vw;
        text-align: right;
        color: #d6c2b0;
        font-size: 40px;
        width: 40px;
        cursor: pointer;
    }

    .fa-solid#close{
        display: block;
        margin: 1.2rem;
        color: #d6c2b0;
        font-size: 36px;
        width: 40px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 10px;
    }

    /* -- promo cols -- */

    h3{
        font-size:22px;
        font-weight: 500;
        text-decoration: underline 3px dashed #d0a172;
    }

    p{
        font-size: 8px;
        font-weight: 400;
    }

    .row{
        flex-direction: column;
        margin-top: 10%;
        margin-bottom: 8%;
    }

    img {
        width: 3em;
        border-radius: 18px;
        margin:0.4em;
    }

    .promo-col{
        margin-bottom: 1%;
        padding: 1.4vh 4vw 1.8vh;
    }

    .promo-col:hover{
        transform: translateY(-4px);
    }

    .promo-col#promo-bday{
        border-radius: 50px 3px 50px 10px;
        background:#77685c;
    }

    .promo-col#promo-ten{
        border-radius: 50px 3px 50px 10px;
        background:#86705e;
    }

    /* -- merch -- */

    .container{
        display:flex;
        margin: 2vh;
    }

    .slider-wrap{
        position:flex;
        margin: 0 1rem 0; /* I added this, there is no margin anywhere else, it should not require the margin to be 0 */
        padding-left: 0;
    }

    /* image */
    .slider img{
        flex:none;
        width:100%;
        min-height:587px;
        scroll-snap-align: start;
        object-fit:cover;
        margin:0;
    }

    /* buttons */
    .buttons{
        top: 50%;
        left:2%;
        width:96%;
    }

    .buttons button{
        opacity:0.6;    
    }

    .slider-nav{
        display: flex;
        column-gap: 1.2rem;
        position: absolute;
        bottom:1.85rem;
        left:50%;
        transform:translateX(-50%);
        z-index: 1;
    }

    /* merch content */

    .merch-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:auto;
        max-width: 95vw;
        height:100%;
        padding: 1vh 3vw;
        margin-bottom: 1rem;
        box-sizing: border-box;
        border-radius: 25px 50px 50px;
        background:#4f3b32;
        text-align:center;
    }


    .merch-content h2, .line, p, .hero-btn{
        margin: 0;
    }

    .merch-content h2{
        padding: 1vh;
        font-size: 26px;
    }

    .line{ /* line */
        max-width: 75%;
    }

    .merch-content p{
        padding: .6vh 0 1.4vh;
        font-size: 22px;
        line-height: 1em;
    }

    .hero-btn{
        width:28vw;
        height:1.4rem;
        margin: 1.2vh 1.2vw 2vh;
        font-size: 16px;
    }


    /* ### Footer ### */

    .footer {
        display: grid;
        grid: repeat(2, 2.4rem) / auto-flow 2.4rem; /* Update grid-template-columns */
        grid-template-columns: 1fr 2fr;
        max-width: 100vw; /*! Do i want this? */
        height: 10vh;
        padding:1.4em 0.5em 1em 0.5em;
        justify-content: center;
        background-color: #301d0c;
        color:#fffb;
       
 
    }

    .footer h3{
        padding:0;
        font-size: 24px;
    }

    .footer p{
        font-size: 14px;
    }

    .ft-icons{
        padding: 0 0.6rem;
    }

    .ft-icons{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .ft-icons i{ /*footer icons*/
        font-size: 1.2rem;
        padding: 1px 0;
        cursor:pointer;
    }
    

    .ft-icons img{
        display:none;
    }

    .ft-links .ft-line{
        display:none;
    }

    .ft-links{
        padding:0.2em,0,1em,0.1em;
        height: 3.6rem;
        text-align: center;
        align-self: center;
        justify-self: center;   
    }

    .ft-links a{
        margin:0;
        padding: 0 1em;
        font-size: 18px;
    }

    .ft-links ul li {
        list-style: none;
        text-align: center;
        justify-content:center;
       
    }

    .ft-contact .ft-line{
        padding:0;
        width: 3px;
        height: 6rem;
        align-items: center;
        background-color:#86705e;
        border-radius: 1px;
    }

    .ft-contact{
        grid-row-start: span 2;
        padding:0;
    }    

    .content { /* content for the contact section */
        padding: 0 1em;
    }

    .content * {
        margin: 0;
    }
}


/** MERCH ----------------------------------------------------------------------------------------------------------------------------*/
/*? This is going to be on hold as it will take a while    */
/*? and I need to work on how i'm actually going to go     */
/*? about it.                                              */

/*? it's better to wait than to start and need to redo     */
/*? everything, or get stuck later on over things i don't  */
/*? understand.                                            */


/** SUB-HEADER ----------------------------------------------------------------------------------------------------------------------------*/
/* ok this is more the basic background to try and get
    myself started on the layout so I can copy it to other places */


.background {
    background: rgb(218,208,202);
    background: radial-gradient(circle, rgba(218,208,202,1) 65%, rgba(201,169,150,1) 78%, rgba(194,159,144,1) 87%, rgba(65,32,18,1) 100%);
}

.header {
    min-height: 28vh;
    width: 100%;
    position: relative;
    background-image: linear-gradient(
        rgba(72, 62, 27, 0.2),
        2%, rgba(18, 9, 6, 1)),
        url(media/coffee_banner.jpg);/*url for the background image/colour for the header */
    background-position: center;
    background-size: cover;
    border-bottom: #120906 10px solid;
}

h2 {
    color: #fffb;
    font-size:32px;
    font-weight: 200;
}

.slogan h2{
    position: relative;
    display:inline-block;
    padding-top: 6px;
    text-align: center;
    white-space: nowrap;
    font-size:28px;
    color: #ded4cb;
}

.slogan #slogan::before {
    content: "";
    position:absolute;
    right:0;
    top:50%;
    transform:translateY(-3.4vh) scaleX(0.8);
    width: 100%;
    height: 3.5px;
    border-radius: 15px;
    background-color: #654b35;
    transition: .3s ease;
}

.slogan #slogan:hover::before {
    transform:scaleX(2) translateY(-3.2vh);
    background-color: #3d302b;
}

.layer2 {
    background-image: url('media/pages_ft_waves.svg');
}

/** ABOUT ----------------------------------------------------------------------------------------------------------------------------*/

.about-us {
    width:80%;
    margin: auto;
    padding: 5rem 0 3rem;    
}

h4 {
    padding:0;
    position:relative;
    font-size: 20px;
    text-align: center;
    color: #2e1406;
    
}

.about-us h4::after{
    content:'';
    position: absolute;
    width:65%;
    height:3px;
    bottom:-.65rem;
    left:18%;
    background-color: #583924;
}

.about-us .row {
    margin-top: 4%;
}

.about-col {
    flex-basis: 48%;
    padding: 1rem .2rem 0;
}

.about-col img{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.6);
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.6);
}

/* about content */
.about-content {
    box-sizing: border-box;
    max-height: 78%;
    background-color: #29150d;
    border-radius: 10px;
    padding: 1.4rem;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.6);
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.6);
}

.about-col h1 {
    color:#b5a79c;
    position:relative;
}

/* about line title*/
.about-content h1::after {
    content:'';
    position:absolute;
    bottom: -8px;
    width: 100%;
    height:3.2px;
    border-radius: 5px;
    background-color: #583924;
}

.about-col p {
    color:#a79788;
    padding: 22px 0 3vh;
    margin:0;
    font-size: 20px;
    line-height: 110%;
}

.about-btn {
    position:relative;
    max-width:20vw;
    margin-top: 1vh;
    padding: 8px 30px;
    text-align: center;
    background-color:#86705e;
    border-radius: 15px 4px;
    margin-bottom: 5vh;
    color:#1b0a02;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    transition: .25s ease-in-out;
}

.about-btn:hover {
    color:#e9e3de;
    transform: translateY(-4px);
    box-shadow: 6px 8px 15px 0px #1b0a02;
}

.about-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px 4px;
    background-color:#2e1406;
    opacity:0;
    z-index: 1;
    -webkit-animation: scale-up-ver-bottom 2s linear  infinite;
    animation: scale-up-ver-bottom 2s linear  infinite;
}

.about-btn:hover::before{
    opacity:.4;
    color:#fff;
    z-index: 1;
}

@media(max-width: 800px) {
        /*! sub-header */

        .slogan h2 {
            font-size: 20px;
            padding-top:.4rem;
        }

        .slogan #slogan::before {
            content: "";
            position:absolute;
            transform:translateY(-.7rem) scaleX(0.2);
            transition: transform 0.3s ease-out;
        }
        
        .slogan #slogan:hover::before {
            transform:translateY(-.6rem) scaleX(0.5);
        }

        /*! about us */

        .about-us {
            align-content: center;
            justify-content: center;
            padding: 2rem 0 0;
        }

        h4 {
            margin-top:7vh;
        }   
        
        .about-us h4::after{
            bottom:-.3rem;
        }

        .about-us .row {
            margin-top: 6%;
        }
    
        .about-col h1 {
            color:#b5a79c;
            position:relative;
            font-size: 32px;
        }
    
        .about-col img{
            margin:0;
        }
}
@media(min-width:801px) and (max-width:1100px){
    /*! sub-header */
    .slogan h2 {
        font-size: 32px;
        padding-top:.4rem;
    }

    .slogan #slogan::before {
        content: "";
        position:absolute;
        transform:translateY(-.7rem) scaleX(0.2);
        transition: transform 0.3s ease-out;
    }
    
    .slogan #slogan:hover::before {
        transform:translateY(-.6rem) scaleX(0.5);
    }

    /*! about us */

    .about-us {
        align-content: center;
        justify-content: center;
        padding: 2.5rem 0 1rem;
    }

    h4 {
        font-size: 22px;
    }
    
    .about-us h4::after{
        bottom:-.55rem;
    }

    .about-us h4{
        margin:4vh 2em 0;
    }

    .about-us .row {
        margin-top: 4%;
    }

    .about-col p {
        font-size:20px;
        padding: 22px 0 20px;
    }

    .about-col img {
        margin:0;
    }

}
/** testimonials -----*/

.testimonials {
    width: 90%;
    margin: auto auto 2rem auto;
    padding-top: 1rem;
    text-align: center;
    background: radial-gradient(circle at left top, rgba(148, 91, 68, 0.25), 20% , rgba(42, 20, 2, 0.25));
    border-radius: 6px;
}

.testimonials h1, .testimonials p b {
    padding: .2em;
}

.testimonials .row {
    margin-top: 3%;
}

.testimonials h1{
    position:relative;
    color:rgba(46, 20, 6);
}

.testimonials h1::after{ /* line */
    content:'';
    position:absolute;
    width:70%;
    height:2.6px;
    left:0;
    transform: translateX(22%);
    border-radius:5px;
    background-color: #583924;
}

.testimonials p b {
    color: rgba(46, 20, 6, 0.8);
    font-size: 18px;
}

.testimonial-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 2%;
    text-align: left;
    background: radial-gradient(circle at right bottom, #3b1c0f , 15%, #251a10);
    padding: 25px;
    cursor: pointer;
    display: flex;
    opacity:1;
    transition: ease-in-out .3s
}

.testimonial-col:hover{
    transform: translateY(-8px);
    box-shadow: 6px 8px 15px 0px #1b0a02;
    opacity: 0.97;
}

.testimonial-col img {
    height: 70px;
    width:70px;
    margin-left: 0;
    margin-right: .8rem;
    border-radius: 45%;
}

.col-content {
    position: relative;
    box-sizing: content-box;
    border-radius: 4px;
    padding: .6rem;
}

/* trying to do a speech bubble effect */

.col-content {
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-between;
}

.testimonial-col p {
    padding: 0;
    font-size:20px;
}

.speech {
    position:relative;
    box-sizing: content-box;
    background-color: #3c2d21;
    border-radius: 4px;
    padding: .6rem;
}

.speech::before {
    position: absolute;
    width:0;
    height:0;
    top:0;
    content:'';
    border:#3c2d21 solid 5px;
    left:-10px;
}

.speech::before {
        border-color:
        #3c2d21 
        transparent 
        transparent 
        transparent;
    border-width: 18px 18px 0 0; 
    bottom: -1px;
    transform: rotate(90deg);
}

.testimonial-col p::before{ /* quote marks */
    content: open-quote;
    position:absolute;
    left:10px;
    font-size: 30px;
    font-weight: 500;
    color: rgb(186, 157, 138);
}

.testimonial-col p::after{
    content: close-quote;
    position:absolute;
    font-size: 30px;
    font-weight: 500;
    color: rgb(186, 157, 138);
}

.testimonial-col h2 {
    margin-top: 10%;
    text-align: left;
    color: #c6ab99;
    font-size: 24px;
}

.testimonial-col h4 {
    text-align: left;
    padding:8px 0 8px;
    font-size: 18px;
    margin-top:0;
    color:rgba(158, 144, 133, 0.5);
}

.material-symbols-outlined {
    color:rgba(158, 144, 133);
    padding: 0 0 .4rem;
}

@media(max-width: 800px) {
    .testimonials{
        padding-top:.2rem;
    }

    .testimonial-col {
        padding: 15px;
    }

    .col-content {
        padding: .3rem;
    }

    .speech {
        padding: .4rem .4rem .4rem 1.2rem;
    }

    .testimonial-col p {
        font-size:14px;
    }

    .testimonial-col h2 {
        margin-top: 4%;
        font-size: 18px;
    }

    .testimonial-col h4 {
        text-align: left;
        padding-bottom:4px;
        font-size: 14px;
    }


}

@media(min-width:801px) and (max-width:1100px){
    /*! testimonials */
    .testimonials {
        padding-top: 1rem;
    }

    .testimonial-col {
        border-radius: 10px;
        margin-bottom: 2%;
        padding: 1.2rem;
    }

    .col-content {
        padding: .3rem;
    }

    .speech {
        padding: .4rem .4rem .4rem 1.2rem;
    }

    .testimonial-col p {
        font-size:22px;
    }

    .testimonial-col h2 {
        margin-top: 4%;
        font-size: 26px;
    }

    .testimonial-col h4 {
        text-align: left;
        padding-bottom:4px;
        font-size: 20px;
    }

}

/** COFFEE --------------------------------------------*/

.about-us#coffee {
    padding-bottom: 1.05rem;
}

.grid-container {
    display:grid;
    grid: auto-flow / repeat(3, 1fr);
}

.grid {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: .8rem;
    margin: .4rem;
    text-align: center;
    background: linear-gradient(180deg, #935f34 0%, #240a0a 80%);
    border: 7px inset #a07565;
    border-radius: 30px;
    box-shadow: 1px 2px 10px 1px #1b0a02;
    cursor: pointer;
    z-index: 0;
    transition:
        transform .23s ease-out,
        box-shadow .23s ease-out,
        filter .23s ease-out;
}

.grid:hover {
    transform: translate(-2px, -10px);
    box-shadow: 6px 8px 15px 0px #1b0a02;
    filter: hue-rotate(5deg);
}

.grid .fa-circle-info {
    flex:none;
    position:absolute;
    top:23px;
    right:23px;
    color:#120906;
    font-size: 32px;
}

.grid a[data-tool-tip] {
    position:relative;
}

.grid a[data-tool-tip]::after {
    content: attr(data-tool-tip);
    display:block;
    position:absolute;
    max-width: 88%;
    background-color: #cfae93;
    padding:.8em;
    color:#120906;
    border-radius: 5px;
    font-size: .75em;
    font-weight:550;
    top: 0;
    right:3%;
    z-index: 2;
    opacity: .9;
    transform-origin: 95% 40%;
    transform: scale(0);
    transition: cubic-bezier(.43,.27,.48,1) .4s;
}

.grid a[data-tool-tip]:hover::after {
    transform:scale(1);
}

.grid img {
    width: 300px;
}

.grid h4 {
    padding-bottom:.45em;
    color: #d2d2d2;
}

.grid p {
    position:relative;
    color: #c3b1aa;
    line-height: 21px;
    text-align: center;
}

.grid p::before{
    content:'';
    position:absolute;
    width: 100%;
    height:3.2px;
    top:-10%;
    left:0%;
    border-radius: 5px;
    background-color: #583924;
    transform: scaleX(80%);
    transition: linear .24s;
}

.grid p:hover::before{
    transform: scaleX(95%)
}