:root {
    --brown-black: #120906;
    --brown-1: #3b1c0f;
    --brown-2: #654b35;
    --brown-3: #735b47;
    --brown-grey: #454341;
    font-family: 'Kanit', sans-serif, 'Roboto Condensed', sans-serif;
}

h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 800;
    color: #fff;
}

h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    color: #fff;
}

h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    color: #fff;
}

h4 {
    margin: 0;
    font-size: 38px;
    color: #000;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    padding: .2rem;
    align-items: center;
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}

body {
    /* background-color: var(--brown-black); */
    padding: 0;
    margin:0;
}

header { /** Hero background image */
    background-image: linear-gradient(rgba(31, 21, 12, .8), #120906), url(media/coffee_banner.jpg);
    background-position: center;
    background-size: cover;
}

nav a { /*nav menu a attributes */
    text-decoration: none;
    transition: 0.2s ease-out;
}

nav a h3 { /*nav menu h3 attributes */
    padding: 0 4%;
    transition: 0.2s ease-out;
}

nav a h3::after { /* hover animation for the nav menu */
    content: '';
    width: 100%;
    height:3px;
    background: var(--brown-3);
    display: block;
    margin: initial;
    border-radius: 1px;
    transform: scaleX(0%);
    transition: 0.34s ease-in-out;
}

nav a h3 {
    padding-inline: .8rem;
}

nav a h3:hover {
    transform: translateY(-2px);
    background-color: #00000042;
    border-radius: 10px;
}

nav a h3:hover::after { 
    transform: scaleX(100%);
}

header img { /* Big Logo */
    width: 20rem;
    margin: 4.4rem 0rem 1rem;
}

span#line { /*Intersecting line to seperate title from slogan */
    width: 3px;
    height: 100px;
    background-color: var(--brown-2);
    margin: 0 30px;
}

h2 i { /* what makes COFFEE look different */
    font-weight: 800;
    color: #caa07d;
}
/*? I want this to appear on delay and only if the header is still on screen after 5 seconds or so */
h2#arrowDown { /* The Arrow */
    margin-left: 1.28rem;
    font-size: 48px;
    font-weight: 500;
}

div#wave { /* avoids pixels showing white between wave and header, leading to a seamless look */
    transform: translateY(-4px);
}

/** Hides the icons until mobile */
.fa-solid.icons {
    display: none;
}

/*TODO ~~~ PROMOTIONS */

.promo-wrap {
    display: flex; /* Added */
    flex-direction: row; /* Added */
    align-items: center; /* Added */
    justify-content: space-between;

    padding-inline: 1.4rem;
}

.promo-wrap img {
    max-width: 80px;
}

.promo-box {
    background: url(media/polygon.png);
    background-repeat: no-repeat;

    flex-basis: 33%;

    padding: 1rem 0 .6rem;
    cursor: pointer;
    transition: all .14s ease-out;
}

.promo-box:hover {
    filter: drop-shadow(16px 16px 20px rgb(97, 51, 31)) invert(10%);
    transform: translateY(-8px) scale(102%);
}

/* .promo-box.row {
    justify-content: space-between;
} */

.promo-box.row i {
    margin-top: 6px;
    margin-bottom: auto;
}

.promo-box.row img {
    margin-left: 25px;
}

.promo-box.row h3 {
    margin-left: 10px;
    color: #000;
}

/*~~ About Us */

svg#underline { /* the underline */
    width: 70vw;
    transform: translateY(-12px);
}

.about .row > * {
    margin: 1%;
}

/*Text box stuff */
.box-content {
    max-width: 40vw;
    min-width: 20vw;
    background-color: var(--brown-black);
    border-radius: 1rem;

}

.box-content p {
    color: #D9D9D9;
    font-size: 18px;
    line-height: 2rem;
    margin-bottom: 1.6rem;
}

.box-content button {
    /* background: url(media/coffee_button.svg);
    background-size: cover;
    background-repeat: no-repeat; */

    position: relative;
    margin-right: auto;
    padding: .4rem 1rem;
    
    border: none;
    background: none;

    z-index: 4;
}

.box-content h2 {
    position: relative;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: right;

    color: var(--brown-black);
    transform: translate(70px,0);
    z-index: 4;
    cursor: pointer;

    transition:  all .23s ease-in-out;
}

.box-content #button::before {
    content: url(media/coffee_button.svg);
    position: absolute;
    min-width: 275%;
    transform: translate(-70px,-5px);
    z-index: -1;

    transition: all .3s ease-in-out;
}

/* button hover */
.box-content h2:hover {
    color: #fff;
}

.box-content #button:hover:before {
    filter: drop-shadow(7px 7px 6px var(--brown-black)) invert(110%);
    -webkit-filter: drop-shadow(7px 7px 6px var(--brown-black)) invert(110%);
}

.box-content #button:active:before {
    filter: drop-shadow(7px 7px 6px var(--brown-black)) invert(60%);
    -webkit-filter: drop-shadow(7px 7px 6px var(--brown-black)) invert(60%);
}

/* Gif lines */
.about img { 
    width: 35vw;
    border-radius: 1rem;
}

/* Merch section */

/*TODO background */
.merch {
    background-color: rgb(23, 22, 22);
}

.merch h4 {
    color: #dedede;
}

.scroller {
    max-width: 90%;
}


.scroller-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
    mask: linear-gradient(90deg, transparent 5%, white 30%, white 70%, transparent 95%);

    outline: 3px solid lime;

}

.scroller[data-animated="true"] .scroller-items {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - .5rem));
    }
}

.scroller-items > * {
    border-radius: .26rem;
}


/* 
.scroller-items {
    -webkit-mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
    mask: linear-gradient(90deg, transparent 5%, white 30%, white 70%, transparent 95%);
} */

/*TODO button looks */
button#shop {
    margin-top: .75rem;
    padding: .75rem 5rem;
    border-radius: 4px 12px 4px 12px;
    
    font-size: 24px;
    color: rgb(23, 22, 22);
    background-color: #D9D9D9;
    border: none;

    cursor: pointer;
    transition: all .2s ease-in-out;
}

button#shop:hover {
    background-color: var(--brown-1);
}

button#shop:active {
    background-color: var(--brown-2);
}