:root {
    --brown-black: #120906;
    --brown-1: #3b1c0f;
    --brown-2: #654b35;
    --brown-3: #735b47;
    --brown-grey: #454341;
    font-family: 'Kanit', sans-serif, 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 800;
    color: #fff;
}

h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    color: #fff;
}

h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    color: #fff;
}

h4 {
    margin: 0;
    font-size: 38px;
    color: #000;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    padding: .2rem;
    align-items: center;
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}

body {
    /* background-color: var(--brown-black); */
    padding: 0;
    margin:0;
}

header { /** Hero background image */
    background-image: linear-gradient(rgba(31, 21, 12, .8), #120906), url(media/coffee_banner.jpg);
    background-position: center;
    background-size: cover;
}

nav a { /*nav menu a attributes */
    text-decoration: none;
    transition: 0.2s ease-out;
}

nav a h3 { /*nav menu h3 attributes */
    padding: 0 4%;
    transition: 0.2s ease-out;
}

nav a h3::after { /* hover animation for the nav menu */
    content: '';
    width: 100%;
    height:3px;
    background: var(--brown-3);
    display: block;
    margin: initial;
    border-radius: 1px;
    transform: scaleX(0%);
    transition: 0.34s ease-in-out;
}

nav a h3 {
    padding-inline: .8rem;
}

nav a h3:hover {
    transform: translateY(-2px);
    background-color: #00000042;
    border-radius: 10px;
}

nav a h3:hover::after { 
    transform: scaleX(100%);
}

header img { /* Big Logo */
    width: 20rem;
    margin: 4.4rem 0rem 1rem;
}

span#line { /*Intersecting line to seperate title from slogan */
    width: 3px;
    height: 100px;
    background-color: var(--brown-2);
    margin: 0 30px;
}

h2 i { /* what makes COFFEE look different */
    font-weight: 800;
    color: #caa07d;
}
/*? I want this to appear on delay and only if the header is still on screen after 5 seconds or so */
h2#arrowDown { /* The Arrow */
    margin-left: 1.28rem;
    font-size: 48px;
    font-weight: 500;
}

div#wave { /* avoids pixels showing white between wave and header, leading to a seamless look */
    transform: translateY(-4px);
}

/** Hides the icons until mobile */
.fa-solid.icons {
    display: none;
}

/*TODO ~~~ PROMOTIONS */

.promo-wrap {
    display: flex; /* Added */
    flex-direction: row; /* Added */
    align-items: center; /* Added */
    justify-content: space-between;

    padding-inline: 1.4rem;
}

.promo-wrap img {
    max-width: 80px;
}

.promo-box {
    background: url(media/polygon.png);
    background-repeat: no-repeat;

    flex-basis: 33%;

    padding: 1rem 0 .6rem;
    cursor: pointer;
    transition: all .14s ease-out;
}

.promo-box:hover {
    filter: drop-shadow(16px 16px 20px rgb(97, 51, 31)) invert(10%);
    transform: translateY(-8px) scale(102%);
}

/* .promo-box.row {
    justify-content: space-between;
} */

.promo-box.row i {
    margin-top: 6px;
    margin-bottom: auto;
}

.promo-box.row img {
    margin-left: 25px;
}

.promo-box.row h3 {
    margin-left: 10px;
    color: #000;
}

/*~~ About Us */

svg#underline { /* the underline */
    width: 70vw;
    transform: translateY(-12px);
}

.about .row > * {
    margin: 1%;
}

/*Text box stuff */
.box-content {
    max-width: 40vw;
    min-width: 20vw;
    background-color: var(--brown-black);
    border-radius: 1rem;
}

.box-content p {
    color: #D9D9D9;
    font-size: 18px;
    line-height: 2rem;
    margin-bottom: 1.6rem;
}

.box-content h2 {
    position: relative;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: right;

    color: var(--brown-black);
    transform: translate(70px,0);
    z-index: 4;
    cursor: pointer;

    transition:  all .23s ease-in-out;
}

.box-content #button::before {
    content: url(media/coffee_button.svg);
    position: absolute;
    min-width: 275%;
    transform: translate(-70px,-5px);
    z-index: -1;

    transition: all .3s ease-in-out;
}

/* button hover */
.box-content h2:hover {
    color: #fff;
}

.box-content #button:hover:before {
    filter: drop-shadow(7px 7px 6px var(--brown-black)) invert(110%);
    -webkit-filter: drop-shadow(7px 7px 6px var(--brown-black)) invert(110%);
}

.box-content #button:active:before {
    filter: drop-shadow(7px 7px 6px var(--brown-black)) invert(60%);
    -webkit-filter: drop-shadow(7px 7px 6px var(--brown-black)) invert(60%);
}

/* Gif lines */
.about img { 
    width: 35vw;
    border-radius: 1rem;
}

/** Merch section */

.merch-wave {
    transform: translateY(8px);
}

/*TODO background */
.merch {
    background-color: rgb(23, 22, 22);
}

.merch h4 {
    color: #dedede;
}

.scroller {
    max-width: 90%;
}


.scroller-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
    mask: linear-gradient(90deg, transparent 5%, white 30%, white 70%, transparent 95%);

    outline: 3px solid lime;

}

.scroller[data-animated="true"] .scroller-items {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - .5rem));
    }
}

.scroller-items > * {
    border-radius: .26rem;
}


/* 
.scroller-items {
    -webkit-mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
    mask: linear-gradient(90deg, transparent 5%, white 30%, white 70%, transparent 95%);
} */

/*TODO button looks */
button#shop {
    margin-top: .75rem;
    margin-bottom: 80px;
    padding: .75rem 7rem;
    border-radius: 4px 12px 4px 12px;
    
    font-size: 24px;
    color: rgb(23, 22, 22);
    background-color: #D9D9D9;
    border: none;

    cursor: pointer;
    transition: all .2s ease-in-out;
}

button#shop:hover {
    color: #fff;
    background-color: #262626;

    -webkit-box-shadow:6px 4px 10px 3px #8a8a8a;
    -moz-box-shadow:6px 4px 10px 3px #8a8a8a;
    box-shadow: 6px 4px 10px 3px #8a8a8a;

    transform: translateY(-4px) scale(102%);
}

button#shop:active {
    background-color: #6E6E6E;
}

/*TODO COFFEE */
.coffee-wave {
    transform: translateY(-66px);
}

.coffee-wave svg {
    background-color: transparent;
}

.coffee-wave.bottom {
    transform: translateY(-76px);
}

.section-coffee {
    padding: 1rem;
    background: #29150D;
    transform: translateY(-74px);
}

.coffee h4 {
    color: #dedede;
}
/* grid section */
.grid-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.grid-box:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
.grid-box:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
.grid-box:nth-child(3) { grid-area: 1 / 3 / 2 / 4; }
.grid-box:nth-child(4) { grid-area: 2 / 1 / 3 / 2; }
.grid-box:nth-child(5) { grid-area: 2 / 2 / 3 / 3; }
.grid-box:nth-child(6) { grid-area: 2 / 3 / 3 / 4; }

.grid-box img {
    max-width: 50%;
}

.row.grid-items {
    flex-direction: row-reverse;
}

.grid-box > * {
    margin: 8px;
    padding: 1rem;

    border: 2px #dedede solid;
    border-radius: .5em;

    transition: .26s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.grid-box > * h2 { /* the i and circle */
    font-size: 18px;
    margin-bottom: auto;
    padding-inline: 10px;

    border: 1.6px #dedede solid;
    border-radius: 10rem;
}

.grid-box > *:hover {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0, 0, 0, .4) 50%, rgba(0,0,0,.2) 100%);
}
/** The hover cards for the coffee grid boxes */
.grid-items[data-tool-tip] {
    position: relative;
}

.grid-items[data-tool-tip]::after {
    content: attr(data-tool-tip);
    display:block;
    position:absolute;
    max-width: 95%;
    max-height: 50%;
    background-color: rgb(182, 182, 182);
    padding:.6em .8em;
    color:black;
    border-radius: .6rem;
    top: 0;
    z-index: 2;

    transform: scaleY(0);
    transform-origin: 50% 0%;
    transition:all .3s cubic-bezier(.43,.27,.48,1);
}

.grid-items[data-tool-tip]:hover::after {
    transform: scaleY(1);
}

/* Contact us */

.contact iframe {
    width: 90%;
    min-height: 50vh;
}

.contact .row {
    background-color: var(--brown-black);
    margin-top: 2rem;
    padding: 1.4rem;
    width: 80%;
    border-radius: 1rem;
}

/* .contact .col.one {
    text-align: left; /*! This isn't working ~ fixed by margin auto-ing each child of this selected element */
/* } */

.col.one > * {
    margin-left: auto;
}

.contact svg {
    width: 40px;
}

.contact svg#break {
    width: 20px;
}

/*! Finish the text box styles */

