:root {
    --brown-black: #120906;
    --brown-1: #3b1c0f;
    --brown-2: #654b35;
    --brown-3: #735b47;
    --brown-grey: #454341;
    font-family: 'Kanit', sans-serif, 'Roboto Condensed', sans-serif;

    scroll-behavior: smooth;
}

::selection {
    background-color: #3b1c0f;
    color: #D9D9D9;
}

@media(prefers-reduced-motion) {
    :root {
        scroll-behavior: auto; /*! check this is correct */
    }

    .scroller-items {
        gap: 4px !important;
        justify-content: center !important;
    }

    .hidden {
        opacity: 1 !important;
        filter: none !important;
        transform: translateX(0) translateY(0) !important;
        transition: none !important;
    }
}

.scale {
    /** Must be after hidden */
    scale: .85;
    filter: blur(0) !important;
}

.d150 {
    /* Delays the transition by 1500ms */
    transition-delay: 150ms !important;
}

.d300 {
    /* Delays the transition by 300ms */
    transition-delay: 300ms !important;
}

.d600 {
    transition-delay: 600ms !important;
}

.transY {
    transform: translateY(70%);
}

.transX {
    transform: translateX(-70%);
}

.hidden {
    opacity: 0;
    filter: blur(4px);
    transition: all .4s ease-in;
}

.upward {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0) translateX(0);
    scale: 1;
}


.nav-menu .transX {
    --_delay: .18s;
}

.promo-wrap .transX {
    --_delay: .4s;
}

.nav-menu,
.promo-wrap {
    .transX {
        transition-delay: calc(var(--_delay) * var(--_i));  /* take out the 4 - section to reverse */
    }
    :nth-child(4 of .transX).hidden {
    /* it definitely works, don't.. don't worry never worry */
    --_i: 4;
    }
    :nth-child(3 of .transX).hidden {
        /* it definitely works, don't worry don't worry at all */
        --_i: 3;
    }
    
    :nth-child(2 of .transX).hidden {
        /* it definitely works, don't worry */
        --_i: 2;
    }
    
    :nth-child(1 of.transX).hidden {
        /* it definitely works, don't worry don't worry*/
        --_i: 1;
    }
}



a {
    text-decoration: none;
}

h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 800;
    color: #fff;
}

h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    color: #fff;
}

h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    color: #fff;
}

h4 {
    margin: 0;
    font-size: 38px;
    color: #000;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    padding: .2rem;
    align-items: center;
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}

body {
    /* background-color: var(--brown-black); */
    padding: 0;
    margin: 0;
}

header {
    /** Hero background image */
    background-image: linear-gradient(rgba(31, 21, 12, .8), #120906), url(media/coffee_banner.jpg);
    background-position: center;
    background-size: cover;
}

nav a {
    /*nav menu a attributes */
    text-decoration: none;
    transition: 0.2s ease-out;
}

nav a h3 {
    /*nav menu h3 attributes */
    padding: 0 4%;
    transition: 0.2s ease-out;
}

nav a h3::after {
    /* hover animation for the nav menu */
    content: '';
    width: 100%;
    height: 3px;
    background: var(--brown-3);
    display: block;
    margin: initial;
    border-radius: 1px;
    transform: scaleX(0%);
    transition: 0.34s ease-in-out;
}

nav a h3 {
    padding-inline: .8rem;
}

nav a h3:hover {
    transform: translateY(-2px);
    background-color: #00000042;
    border-radius: 10px;
}

nav a h3:hover::after {
    transform: scaleX(100%);
}

header img {
    /* Big Logo */
    width: 20rem;
    margin: 4.4rem 0rem 1rem;
}

span#line {
    /*Intersecting line to seperate title from slogan */
    width: 3px;
    height: 100px;
    background-color: var(--brown-2);
    margin: 0 30px;
}

h2 i {
    /* what makes COFFEE look different */
    font-weight: 800;
    color: #caa07d;
}

/*? I want this to appear on delay and only if the header is still on screen after 5 seconds or so */
h2#arrowDown {
    /* The Arrow */
    margin-left: 1.28rem;
    font-size: 48px;
    font-weight: 500;
}

div#wave {
    /* avoids pixels showing white between wave and header, leading to a seamless look */
    transform: translateY(-4px);
}

/** Hides the icons until mobile */
.fa-solid.icons {
    display: none;
}

/*TODO ~~~ PROMOTIONS */

.promo-wrap {
    display: flex;
    /* Added */
    flex-direction: row;
    /* Added */
    align-items: center;
    /* Added */
    justify-content: space-between;

    padding-inline: 1.4rem;
}

.promo-wrap img#cup {
    max-width: 80px;
}

.promo-box {
    /* background: url(media/polygon.png); Not worth it, the code below is better for responsiveness.
    background-repeat: no-repeat; */

    flex-basis: 33%;

    padding: 1rem 0 .6rem;
    cursor: pointer;
    transition: all .14s ease-out;
}

div#poly1 {
    position: relative;
}

div#poly1 > :not(img#poly1) {
    z-index: 3;
}

img#poly1 {
    position: absolute;
    width: 80%;
    height: 100%;
    margin: 0;
    z-index: 1;
}

.promo-box:hover {
    filter: drop-shadow(16px 16px 20px rgb(97, 51, 31)) invert(10%);
    transform: translateY(-8px) scale(102%);
}

/* .promo-box.row {
    justify-content: space-between;
} */

.promo-box.row i {
    margin-top: 6px;
    margin-bottom: auto;
}

.promo-box.row img {
    margin-left: 25px;
}

.promo-box.row h3 {
    margin-left: 10px;
    color: #000;
}

/*~~ About Us */

svg#underline {
    /* the underline */
    width: 70vw;
    transform: translateY(-12px);
}

.about .row>* {
    margin: 1%;
}

/*Text box stuff */
.box-content {
    max-width: 40vw;
    min-width: 20vw;
    background-color: var(--brown-black);
    border-radius: 1rem;
}

.box-content p {
    color: #D9D9D9;
    font-size: 18px;
    line-height: 2rem;
    margin-bottom: 1.6rem;
}

.box-content h2 {
    position: relative;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: right;

    color: var(--brown-black);
    transform: translate(70px, 0);
    z-index: 4;
    cursor: pointer;

    transition: all .23s ease-in-out;
}

.box-content #button::before {
    content: url(media/coffee_button.svg);
    position: absolute;
    min-width: 275%;
    transform: translate(-70px, -5px);
    z-index: -1;

    transition: all .3s ease-in-out;
}

/* button hover */
@-webkit-keyframes scale-up-ver-bottom {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
}

@keyframes scale-up-ver-bottom {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
}

.hero-btn {
    position: relative;
    margin-right: auto;
    margin-left: 1rem;
    min-width: 50%;
    padding: 10px 20px 0px;
    text-align: center;
    background-color: #C6B6A9;
    border-radius: 12px 2px;
    border: none;
    color: #1b0a02;
    overflow: hidden;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.hero-btn:hover {
    transform: translateY(-4px);
    box-shadow: 6px 8px 15px 0px #1b0a02;
}

.hero-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--brown-black);
    opacity: 0;
    z-index: 1;
    -webkit-animation: scale-up-ver-bottom 3s cubic-bezier(0, .24, 1, .59) infinite;
    animation: scale-up-ver-bottom 3s cubic-bezier(0, .24, 1, .59) infinite;
}

.hero-btn:hover::before {
    opacity: .4;
    color: #fff;
    z-index: 1;
}

.hero-btn:active {
    background-color: rgb(163, 163, 163);
}

/* Gif lines */
.about img {
    width: 35vw;
    border-radius: 1rem;
}

/** Merch section */

.merch-wave {
    transform: translateY(8px);
}

/*TODO background */
.merch {
    background-color: rgb(23, 22, 22);
}

.merch h4 {
    color: #dedede;
}

.scroller {
    max-width: 90%;
}


.scroller-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
    mask: linear-gradient(90deg, transparent 5%, white 30%, white 70%, transparent 95%);

    outline: 3px solid lime;

}

.scroller[data-animated="true"] .scroller-items {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - .5rem));
    }
}

.scroller-items>* {
    border-radius: .26rem;
}


/* 
.scroller-items {
    -webkit-mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
    mask: linear-gradient(90deg, transparent 5%, white 30%, white 70%, transparent 95%);
} */

/*TODO button looks */

.merch .hero-btn {
    min-width: 30%;

    margin-top: .75rem;
    margin-bottom: 80px;
    padding: .5rem 1rem;
    margin-inline: auto;
}

.merch .hero-btn h4 {
    font-size: 24px;
    font-weight: 500;
    color: var(--brown-black)
}

/*TODO COFFEE */
.coffee-wave {
    transform: translateY(-66px);
}

.coffee-wave svg {
    background-color: transparent;
}

.coffee-wave.bottom {
    transform: translateY(-76px);
}

.section-coffee {
    padding: 1rem;
    background: #29150D;
    transform: translateY(-74px);
}

.coffee h4 {
    color: #dedede;
}

/* grid section */
.grid-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.grid-box img {
    max-width: 50%;
}

.row.grid-items {
    flex-direction: row-reverse;
}

.grid-box>* {
    margin: 8px;
    padding: 1rem;

    border: 2px #dedede solid;
    border-radius: .5em;

    transition: .26s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.grid-box>* h2 {
    /* the i and circle */
    font-size: 18px;
    margin-bottom: auto;
    padding-inline: 10px;

    border: 1.6px #dedede solid;
    border-radius: 10rem;
}

.grid-box>*:hover {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .2) 100%);
}

/** The hover cards for the coffee grid boxes */
.grid-items[data-tool-tip] {
    position: relative;
}

.grid-items[data-tool-tip]::after {
    content: attr(data-tool-tip);
    display: block;
    position: absolute;
    max-width: 95%;
    max-height: 50%;
    background-color: rgb(182, 182, 182);
    padding: .6em .8em;
    color: black;
    border-radius: .6rem;
    top: 0;
    z-index: 2;

    transform: scaleY(0);
    transform-origin: 50% 0%;
    transition: all .3s cubic-bezier(.43, .27, .48, 1);
}

.grid-items[data-tool-tip]:hover::after {
    transform: scaleY(1);
}

/* Contact us */

.contact iframe {
    width: 90%;
    min-height: 50vh;
}

.contact .row {
    background-color: var(--brown-black);
    margin-top: 2rem;
    padding: 1.4rem;
    width: 80%;
    border-radius: 1rem;
}

/* .contact .col.one {
    text-align: left; /*! This isn't working ~ fixed by margin auto-ing each child of this selected element */
/* } */

.col.one>* {
    margin-left: auto;
}

.contact svg {
    width: 40px;
}

.contact svg#col-break {
    width: 40%;
    margin-bottom: .8rem;
}

.contact svg#break {
    width: 20px;
}

.contact p {
    color: #dedede;
}

/*! Finish the text box styles */

input {
    width: 25svw;
    margin: 1%;
    margin-right: auto;

    padding: .5em;
    background-color: #DFD6CE;
    border: none;
    border-radius: .3em;
    font-size: 18px;
}

input::placeholder,
textarea::placeholder {
    color: var(--brown-black);
    font-family: 'Kanit', sans-serif, 'Roboto Condensed', sans-serif;

}

input:focus,
textarea:focus {
    background-color: #dedede;
}

textarea {
    width: 40vw;
    margin: 1%;
    margin-right: auto;

    padding: .5em;
    background-color: #DFD6CE;
    border: none;
    border-radius: .3em;
    font-size: 18px;
}

/* .contact button {
    padding: .2rem 2.4rem;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: auto;

    font-size: 24px;
    font-family: 'Kanit', sans-serif, 'Roboto Condensed', sans-serif;
    background-color: #735B47;
    color: #fff;

    border: none;
    border-radius: 4px 12px;

    cursor: pointer;
    transition: all .2s ease-in-out;
}

.contact button:hover {
    color: #fff;
    background-color: #262626;

    -webkit-box-shadow:6px 4px 10px 3px #8a8a8a;
    -moz-box-shadow:6px 4px 10px 3px #8a8a8a;
    box-shadow: 6px 4px 10px 3px #8a8a8a;

    transform: translateY(-4px) scale(102%);
}

.contact button:active {
    background-color: #6E6E6E;
} */

.contact .hero-btn {
    margin-top: 7px;
    margin-left: 1%;
    padding: 10px 20px;
    cursor: pointer;
}

/*TODO footer */

footer {
    background: var(--brown-black);
    background: linear-gradient(14deg, rgba(0, 0, 0, 1) 10%, rgba(41, 21, 13, 1) 82%);
}

footer svg {
    width: 34px;
    height: 80%;
    margin-inline: 6px;
    color: #fff;
}

footer img {
    max-width: 40%;
}

footer .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2%;

    padding-top: 1.4rem;

    justify-items: center;
    align-items: center;
}

.grid .media.col {
    padding: 0;
}

footer h4 {
    font-size: 18px;
}

footer .links a {
    cursor: pointer;
}

footer .links h3 {
    font-size: 18px;
    color: #000;
}

div#footer-text p {
    margin: 0;
    font-size: 12px;
    text-align: center;
    padding-bottom: .6rem;
}

div#footer-text p,
footer .links h3,
footer h4 {
    color: #dedede;
}

.media h4 {
    font-weight: 300;
}

/** Forcing the space between contact col and the coffee section to tighten */
.contact {
    transform: translateY(-50px);
}