h1 {
    margin: 0;
    font-size: 30px;
    font-weight: 800;
    color: #fff;
}

h2 {
    margin: 0;
    font-size: 26px;
    font-weight: 400;
    color: #fff;
}

h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}

h4 {
    margin: 0;
    font-size: 28px;
    color: #000;
}

body {
    background-color: yellow;
    z-index: 2;
}

/*TODO Nav Work for Phone */
nav {
    z-index: 4;
}

nav a {
    margin-left: 1rem;
    margin-top: 8px;
}

nav a h3 {
    display: block;
}

nav a h3:hover {
    background-color: transparent;
    transform: none;
}

nav a h3::after {
    color: #caa07d; /* changes colour of the underline to look better for the lighter colour than the background */
}

.nav-menu.row {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0; /* without this, there is overlap into the hero */
}

.nav-menu {
    position: fixed;
    background: #2B2824;
    background: linear-gradient(180deg, #2B2824 50%, #515151 100%);
    height: 100vh;
    width: 160px;
    top: 0;
    right: -160px; /* Add transition here */
    transition: .5s cubic-bezier(0,.2,.91,.88);
}

/** Icons for Menu */
.fa-solid.icons {
    display: block;
    color: #fff;
    margin: 1rem;
}

.icons#close {
    font-size: 28px;
}

.icons#menu {
    font-size: 28px;
    margin-left: auto;
}

/** Rest of Hero (unrelated to nav) */

header img {
    --screen-width: 100vw;
    width: calc((var(--screen-width) / 100) * 60);
    margin: 2rem 0rem .8rem;
}

header h1 {
    text-align: right;
}

span#line { /*Intersecting line to seperate title from slogan */
    margin: 0 15px;
}

/** promo section time */

.promo-wrap {
    display: flex; /* Added */
    flex-direction: column; /* Added */
    align-items: center; /* Added */
    justify-content: space-between;

    padding-inline: 1.4rem;
}

.promo-box {
    background: url(media/polygon.png);
    background-repeat: no-repeat;
    padding: 1rem 2rem .6rem;
    margin: .2rem 0;
    cursor: pointer;
    transition: all .14s ease-out;
}

.promo-box.row {
    min-width: 60vw;
    justify-content: space-between;
}

/*TODO ~~ box content */

.about .row {
    flex-direction: column;
}

.box-content {
    max-width: 90%;
    min-width: 60%;
}

.about img {
    width: 85vw;
}

/*TODO ~~ Merch */
button#shop {
    font-size: 18px;
    padding: .5rem 5rem;
    margin-bottom: 60px;
}

/*TODO ~~ coffee */
/* making padding smaller for the whole section */
.section-coffee {
    padding: .35rem .35rem 2rem .35rem;
}

/* i'm going to make a calc function which will calculate how much the svg needs to move up based on the screen vw */
.coffee-wave.bottom {
    transform: translateY(-82px);
}

/**Making the grid 2x3 instead of 3x2 */
.grid-box {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    }
    
.grid-box:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
.grid-box:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
.grid-box:nth-child(3) { grid-area: 2 / 1 / 3 / 2; }
.grid-box:nth-child(4) { grid-area: 2 / 2 / 3 / 3; }
.grid-box:nth-child(5) { grid-area: 3 / 1 / 4 / 2; }
.grid-box:nth-child(6) { grid-area: 3 / 2 / 4 / 3; }

.grid-box img {
    max-width: 95%;
}

.grid-box > * {
    margin: 4px;
    padding: .4rem;
}

.grid-box > * h2 { /* the i and circle */
    font-size: 14px;
    margin-bottom: auto;
    padding-inline: 8px;

    border: 1.6px #dedede solid;
    border-radius: 10rem;
}