/* The Official CSS3 StyleSheet for the Owl Coffee Index: Small Devices.
Only induced when: width < 3100px

Extra comments:
    - Mostly to fix what mobile.css couldn't in terms of thinner screen sizes.
*/

/* body {
    background: lightcoral;
} */

/*TODO ~~ Hero */
.hero h1 {
    font-size: 24px;
    line-height: 26px;
}

.hero h2 {
    font-size: 18px;
    line-height: 19px;
}

/*TODO ~~ About */
.box-content {
    text-align: left;
    justify-content: flex-start;
}

.box-content h2 {
    margin: 0;
    padding: .3rem 1.3rem;
    border-radius: 4px 12px 4px 12px;
    
    font-size: 24px;
    color: rgb(23, 22, 22);
    background-color: #D9D9D9;
    border: none;
    transform: translate(0);

    cursor: pointer;
    transition: all .2s ease-in-out;
}

.box-content h2:hover {
    color: #fff;
    background-color: #262626;

    -webkit-box-shadow:6px 4px 10px 3px #8a8a8a;
    -moz-box-shadow:6px 4px 10px 3px #8a8a8a;
    box-shadow: 6px 4px 10px 3px #8a8a8a;

    transform: translateY(-8px);
}

.box-content h2:active {
    background-color: #6E6E6E;
}

.box-content #button::before {
    display:none;
}

/*TODO ~~ Merch */
button#shop {
    font-size: 16px;
    padding: .5rem 3rem;
}

.coffee-wave.bottom {
    transform: translateY(-86px);
}

.grid-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

/* TODO Data tool tip */

.grid-items[data-tool-tip]::after {
    font-size: 11px;
    max-width: fit-content;
    max-height: fit-content;
}

/*TODO contact section */
.contact svg {
    width: 28px;
}

.contact input, .contact textarea {
    width: 65vw;
    margin-right: 0;
}

.contact button {
    font-size: 16px;
}

footer .grid {
    display:block;
}

footer .media svg {
    width: 20px;
}

footer .media h4 {
    font-size: 12px;
}

div#footer-text p {
    font-size: 10px;
}

footer .links h3 {
    font-size: 16px;
}