h1 {
    margin: 0;
    font-size: 30px;
    font-weight: 800;
    color: #fff;
}

h2 {
    margin: 0;
    font-size: 26px;
    font-weight: 400;
    color: #fff;
}

h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}

h4 {
    margin: 0;
    font-size: 28px;
    color: #000;
}

body {
    background-color: yellow;
    z-index: 2;
}

/*TODO Nav Work for Phone */

nav {
    z-index: 4;
}

nav a {
    margin-left: 1rem;
    margin-top: 8px;
}

nav a h3 {
    display: block;
}

nav a h3:hover {
    background-color: transparent;
    transform: none;
}

nav a h3::after {
    color: #caa07d; /* changes colour of the underline to look better for the lighter colour than the background */
}

.nav-menu.row {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0; /* without this, there is overlap into the hero */
}

.nav-menu {
    position: fixed;
    background: #2B2824;
    background: linear-gradient(180deg, #2B2824 50%, #515151 100%);
    height: 100vh;
    width: 160px;
    top: 0;
    right: -160px; /*! Add transition here */
    transition: 1s cubic-bezier(0,.2,.91,.88);
}

/** Icons for Menu */
.fa-solid.icons {
    display: block;
    color: #fff;
    margin: 1rem;
}

.icons#close {
    font-size: 28px;
}

.icons#menu {
    font-size: 28px;
    margin-left: auto;
}

/** Rest of Hero (unrelated to nav) */

header img {
    width: 90%;
    margin: 2rem 0rem .8rem;
}

header h1 {
    text-align: right;
}