h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 800;
    color: #fff;
}

h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 400;
    color: #fff;
}

h3 {
    margin: 0;
    font-size: 22px;
    font-weight: 300;
    color: #fff;
}

h4 {
    margin: 0;
    font-size: 30px;
    color: #000;
}

body {
    background-color: blue;
}

/*? Maybe on this version for PROMO i change the flex basis along with the text sizes */

.promo-wrap {
    display: flex; /* Added */
    flex-direction: row; /* Added */
    align-items: center; /* Added */
    justify-content: space-between;

    padding-inline: .2rem;
}

.promo-box {
    flex-basis: 30%;
    padding: 1rem .6rem .6rem;
}

.promo-box.row {
    justify-content: space-between;
}

.promo-box img {
    --screen-width: 100vw;
    width: calc((var(--screen-width) / 100) * 7);

}

.promo-box.row img {
    margin-left: 0;
}

.promo-box.row h3 {
    font-size: 18px;
    letter-spacing: -0.8px;
    line-height: 1em;
}

/*TODO box content */

.about .row {
    flex-direction: column;
}

.box-content {
    max-width: 90%;
    min-width: 60%;
}

.about img {
    width: 80vw;
}

/*TODO ~~ coffee */

.grid-box img {
    max-width: 75%;
}

.grid-box > * {
    margin: 4px;
    padding: .4rem;
}

.grid-box > * h2 { /* the i and circle */
    font-size: 14px;
    margin-bottom: auto;
    padding-inline: 8px;

    border: 1.6px #dedede solid;
    border-radius: 10rem;
}

/*TODO contact section */

.contact iframe {
    width: 95%;
    border-radius: .4rem;
}

.contact .row {
    width: 98%;
    padding: .6rem;
}

.col.one, .col.two {
    padding: .8em;
}

.contact svg {
    width: 36px;
}

.contact h3 {
    font-size: 16px;
    text-align: right;
}

.contact p {
    margin: 0 0 2% 0;
    font-size: 14px;
    text-align: right;
}

.contact input, .contact textarea {
    max-width: min-content;
    padding: .2em .3em;
    width: 35vw;
}

.contact input::placeholder, .contact textarea::placeholder {
    font-size: 14px;
    font-weight: 600;
}

.contact button {
    padding: 0.2em 1em;
    margin-top: 1%;
    margin-left: 0;
    margin-right: 0;
    font-size: 20px;
}

.contact svg#break {
    width: 12px;
}